<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>

      <a href="/wikis/new" class="btn btn-success">New Wiki</a>

      <ul class="list-group">
        <% wikis.forEach((wiki) => { %>
          <% console.log(wiki) %>       
          <% if(wiki.private) { %>
            <% if(currentUser) { %>
               <% console.log(currentUser.id) %>
               <% if(currentUser.isAdmin() || currentUser.isPremium()) { %> 
               <% if(currentUser.isPremium() && currentUser.id === wiki.userId) { %>
                  <li class="list-group-item mb-1">
                    <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                  </li>    
               <% } %>                
               <% if(currentUser.isPremium() && currentUser.id !== wiki.userId && wiki.collaborators.length !== 0) { %>
                <% wiki.collaborators.forEach((collaborator) => { %>
                  <% console.log(collaborator) %> 
                  <% if (collaborator.userId === currentUser.id) { %>   
                    <li class="list-group-item mb-1">
                      <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                    </li>
                  <% } %>
                <% }) %>
              <% } %>
              <% if(currentUser.isAdmin()) { %>
                    <li class="list-group-item mb-1">
                      <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                    </li>
              <% } %>      
          <% } %>  
          <% } %>
       <% } else { %>
              <li class="list-group-item mb-1">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
            <% } %>
        <% }) %>
      </ul>

    </main>
  </body>
</html>